.c-wrap {
  //background: #262936;
  color: #fff;
  border-top: 1px solid #53586d;
  margin-top: 5px;

}

.display-method {
  display: flex;
  flex-direction: column;
  padding: 13px 16px;
  .c-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #b4b5bd;
    margin-bottom: 4px;
  }
}
.btn {
  gap: 24px;
  display: flex;
  .btn-wrap {
    border: 1px solid #53586d;
    border-radius: 4px;
    width: 78px;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    background: none;
    height: 40px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background: rgba(19, 171, 83, 1);
      border-radius: 4px;
    }
    &.active {
      background: rgba(19, 171, 83, 1);
    }
  }
}

